@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html, body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'Inter';
    background-color: #1F2937;
}

main {
    background: linear-gradient(0.125turn, #FB3796, #585DFE);
    padding: 2em;
}

#results {
    padding: 1em;
    margin: 0 auto;
}

main * {
    margin: 0;
    font-weight: 800;
}

h1 {
    font-size: 1.25em;
    padding-bottom: 1em;
}

h3, p {
    font-size: .75em;
}

h3 {
    margin: 0;
    font-weight: 600;
}

.convertion {
    color: #D2D2D2
}

#unit-el {
    font-size: 5em;
}